In [64]:
# Installing the mysql-connector-python library to connect python with SQL
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\mdnis\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\mdnis\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.0)

In [1]:
# Importing the mysql.connector library to python with alias name connection
import mysql.connector as connection

In [2]:
# Checking if the connection is established
try:
    # Providing the localhost details to connect to local database
    mydb = connection.connect(host='localhost',user='root',password='0007')
    
    # Creating a cursor to execute queries
    cursor = mydb.cursor()

# If not connected or pops some errors up, print the error
except Exception as e:
    mydb.close()
    print(str(e))

In [3]:
# Checking if the connection is perfectly done -- This gives an object where the connection is made
print(mydb.is_connected())

True

In [4]:
    # Creating a sample query to check if it works
    query = 'SHOW DATABASES;'
    
    # Executing the query using cursor
    (cursor.execute(query))
    
    # Fetch the details of all the databases inside mySQL
    print(cursor.fetchall())

[('classicmodels',), ('information_schema',), ('market_data',), ('mysql',), ('performance_schema',), ('python_sql_conn_db',), ('sqllearn',)]

In [6]:
# Creating a sample database
cursor.execute("CREATE DATABASE Python_Sql_Conn_db")

# Validating if the database is created or not
cursor.execute("SHOW DATABASES;")


print(cursor.fetchall())

[('classicmodels',), ('information_schema',), ('market_data',), ('mysql',), ('performance_schema',), ('python_sql_conn_db',), ('sqllearn',)]

We can see that now, our database is successfuly created using python-sql-connector

In [7]:
print('-'*130)
print('-'*130)

----------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------

In [8]:
# Creating a database named Students
cursor.execute("CREATE DATABASE Students")

# Validating if the students database is created or not
cursor.execute("SHOW DATABASES;")


print(cursor.fetchall())

[('classicmodels',), ('information_schema',), ('market_data',), ('mysql',), ('performance_schema',), ('python_sql_conn_db',), ('sqllearn',), ('students',)]

In [9]:
# Selecting the Students database first
cursor.execute("USE Students;")

# Creating  a table named 'Student_Details' inside the database Students
cursor.execute("CREATE TABLE Student_Details(Student_id int(10),First_Name VARCHAR(60),LAST_Name VARCHAR(60),Register_Date DATE,Class VARCHAR(20),Section VARCHAR(10))")
print("The table Student_Details is created")

The table Student_Details is created

In [10]:
# To check if the table is successfuly created inside the Student_Details Database
cursor.execute("SHOW TABLES;")

print(cursor.fetchall())

[('student_details',)]

So, Our 'student_details' Table is successfuly created inside the students database

In [11]:
# Inserting data into the Student_Details table
cursor.execute("INSERT INTO Student_Details(Student_id, First_Name, LAST_Name, Register_Date, Class, Section) VALUES(110,'Rishabh','Panth','2022-04-21','Seventh','A'),(111,'MS','Dhoni','2022-04-20','Nineth','C')")
mydb.commit()

In [12]:
# Connecting to the students database
mydb = connection.connect(host='localhost',user='root',password='0007')

# Validate if the data is inserted into the table 
cursor.execute("USE students")

# Selecting the entire data from the student_details2 table
cursor.execute("SELECT * FROM Student_Details")

res = cursor.fetchall()

In [13]:
for i in res:
    print(i)

(110, 'Rishabh', 'Panth', datetime.date(2022, 4, 21), 'Seventh', 'A')
(111, 'MS', 'Dhoni', datetime.date(2022, 4, 20), 'Nineth', 'C')

Hence we can conclude that, our python-sql connectivity project turned out to be working perfectly